@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow-color: 286deg 36% 56%;
}

body {
  font-family: "Nunito+Sans", sans-serif;
  background-color: #f3fbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* img {
  width: 100%;
} */

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0.8px 0.5px 1.1px hsl(var(--shadow-color) / 0.36),
    2.5px 1.7px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
    6.2px 4.3px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
    15.1px 10.5px 20.7px -2.5px hsl(var(--shadow-color) / 0.36); */
    transition: box-shadow 0.3s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0.8px 0.5px 1.1px hsl(var(--shadow-color) / 0.36),
    2.5px 1.7px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
    6.2px 4.3px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
    15.1px 10.5px 20.7px -2.5px hsl(var(--shadow-color) / 0.36);
}

.card-header img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}

.card-body {
  padding: 20px;
  min-height: 230px;
}

.card-body h2 {
  margin: 12px 0;
  font-size: 18px;
}

.card-body p {
  font-size: 13px;
  margin-bottom: 28px;
}

.user {
  display: flex;
}

.pill {
  padding: 2px 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  background-color: #fff;
  border-radius: 50px;
}

.pill-tean {
  background-color: #51adc4;
}
.pill-purple {
  background-color: #3a5bec;
}
.pill-pink {
  background-color: #de43a0;
}

.user img {
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
  height: 40px;
}

.user-info small {
  color: #888785;
}
